.heading {
    color: blueviolet;
    background-color: blanchedalmond;
    text-decoration:wavy ;
}

body{
    background-color: pink;
}

button{
    background-color: rgb(138, 3, 138);
    color: rgb(255, 190, 200);
}